# backend/requirements.txt

fastapi==0.111.0
uvicorn[standard]==0.29.0
gunicorn==22.0.0
sqlalchemy==2.0.30
python-multipart==0.0.9
firebase-admin>=6.5.0
bcrypt==3.2.2
passlib[bcrypt]==1.7.4
coolsms-python-sdk==2.0.3
python-dotenv==1.0.1
psycopg2-binary==2.9.9